
table{
    border: 1px;
    color: #263238;
    width: 50%;
}
caption{
    color:  #263238;
    font-size: 18x;
    font-weight: 300;
}
thead{
   background-color:#455a64 ; 
   color: white;
   font-weight: 700;
}
tr{
    color:#eceff1
}
.alterna{
    color:#b0bec5
}
.diversa{
   font-weight: 600;
   background-color:#78909c ;
}
.entrate{
    color:#003300 ;
}
.uscite{
    color:#7f0000;
}